* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#cabecalho {
    

    position: sticky;
    top: 10px;
    width: auto;
    margin: 20 px;
    background-color: green;
    padding:  30 px;
    justify-items: center;
    border: hidden, 1px;border-radius: 10px;
    font-weight: bold;
}

#menu {
    padding: 10px;
    background-color: green;
    border: hidden 1px;border-radius: 10px;

}